/* sitewide */
:root {
    --cyan: #59B99D;
    --cyan_dark: #47af91;
    --pink: #E1387F;
    --light_grey: #e6e6e6;
    --darkmode_background: #282b30;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background-color: white;
}

/* grid box layout */
.grid_container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 100vh 1fr;
    grid-template-rows: 2fr 4fr 2fr 1fr;
}

.grid_box {
    justify-content: center;
    align-items: center;
    background-color: var(--cyan);
    color: white;
}

#header_box {
    grid-area: header;
    text-align: center;
}

#left_box {
    grid-area: left;
    background-color: white;
    border-right: 4px solid black;
}

#right_box {
    grid-area: right;
    background-color: white;
    border-left: 4px solid black;
}

#footer_box {
    grid-area: footer;
}


/* navigation images */
.nav_img {
    width: 40px;
    height: auto;
    margin-top: 10px;
}

#settings_img {
    margin-right: 10px;
    float: right;
}

#info_img {
    margin-left: 10px;
    float: left;
}

#logo_img {
    max-width: 50%;
    height: auto;
    max-height: 150px;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}


/* index */
#container_menu {
    grid-template-areas: 
        'left header right'
        'left menu right'
        'left menu right'
        'left footer right';
}

#menu_box {
    display: flex;
    grid-area: menu;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.menu_button, .menu_button_active {
    color: white;
    background-color: var(--cyan);
    border: 4px solid white;
    border-radius: 15px;
    width: 40%;
    height: 20%;
    min-width: 300px;
    margin: 15px;
    font-size: 20px;
    font-family: 'Lucida Console', 'Courier New', monospace;
}

#email_input {
    width: 70%;
    height: 4%;
    min-width: 200px;
    min-height: 30px;
    border: solid 2px black;
    border-radius: 5px;
    font-size: 20px;
}

#email_form_submit {
    width: 10%;
    height: 4%;
    min-width: 70px;
    min-height: 30px;
    background-color: var(--pink);
    color: white;
    border: solid 2px white;
    border-radius: 5px;
    font-family: 'Lucida Console', 'Courier New', monospace;
    cursor: pointer;
    box-shadow: none;
}

/* exercises */
#container_exercise1, #container_exercise2 {
    grid-template-areas: 
        'left header right'
        'left feedback right'
        'left buttons right'
        'left footer right';
}

#feedback_box {
    display: flex;
    grid-area: feedback;
}

#feedback_img {
    max-width: 70%;
    height: auto;
    max-height: 80%;
}

#button_box {
    display: flex;
    grid-area: buttons;
    justify-content: space-evenly;
}

.button {
    border: 2px solid white;
    color: white;
    background-color: var(--cyan);
    padding: 5px;
    border-radius: 10px;
    width: 15%;
    height: 20%;
    min-width: 50px;
    min-height: 30px;
    cursor: pointer;
    font-family: 'Lucida Console', 'Courier New', monospace;
}

/* settings */
#container_settings_exercise {
    grid-template-areas:
        'left header right'
        'left level right'
        'left settings right'
        'left footer right';
        grid-template-rows: 2fr 2fr 4fr 1fr;
}

#container_settings_exercise3 {
    grid-template-areas: 
        'left header right'
        'left settings right'
        'left footer right';
        grid-template-rows: 2fr 6fr 1fr;
}

#container_settings_menu {
    grid-template-areas: 
    'left header right'
    'left settings right'
    'left settings right'
    'left footer right';
}

#level_box {
    display: flex;
    grid-area: level;
    justify-content: space-evenly;
}

#settings_box {
    display: flex;
    grid-area: settings;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.settings_element_box {
    width: 40%;
    min-width: 300px;
    margin: 10px;
    font-size: 15px;
    text-align: center;
}

p {
    font-size: calc(8px + 1.5vw);
    font-family: 'Lucida Console', 'Courier New', monospace;
}

input[type='number'], select{
    border: 1px solid grey;
    text-align: center;
    font-size: calc(8px + 1.5vw);
    width: auto;
    height: auto;
    min-width: 50px;
    min-height: 20px;
    border-radius: 3px;
    color: black;
}

input[type='range'] {
    appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 2px;
    background: linear-gradient(90deg, var(--pink) 60%, white 60%);
    box-shadow: inset 1px 1px 3px rgba(0,0,0,0.6);
}

input[type='range']::-webkit-slider-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--pink);
    box-shadow: 1px 1px 3px rgba(0,0,0,0.6);
}

input[type='range']::-moz-range-thumb {
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: none;
    background: var(--pink);
    box-shadow: 1px 1px 3px rgba(0,0,0,0.6);
}

.checkbox {
    appearance: none;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    border: 0;
    outline: 0;
    cursor: pointer;
    margin: 10px;
}

.checkbox:before {
    content: "";
    width: 20px;
    height: 20px;
    display: block;
    position: absolute;
    left: 0;
    top: -2px;
    border-radius: 50%;
    background: white;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.6);
}

.checkbox:after {
    content: "";
    width: 40px;
    height: 16px;
    display: inline-block;
    background: lightgrey;
    border-radius: 8px;
    clear: both;
    box-shadow: inset 1px 1px 3px rgba(0,0,0,0.6);
}

.checkbox:checked:before {
    left: 20px;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.6);

}

.checkbox:checked:after {
    background: var(--pink);
    box-shadow: inset 1px 1px 3px rgba(0,0,0,0.4);
}

/* info */
#container_info {
    grid-template-areas:
        'left header right'
        'left info right'
        'left info right'
        'left footer right';
}

#info_box {
    display: flex;
    grid-area: info;
}

.text_box {
    margin-right: 10%;
    margin-left: 10%;
    font-size: calc(8px + 1.5vw);
    font-family: 'Lucida Console', 'Courier New', monospace;
}

a {
    color: var(--pink);
}


/* adaptive design - portait mode*/
@media (orientation: portrait) {
    .grid_container {
        grid-template-columns: 0fr 100vw 0fr;
    }
    #left_box {
        display: none;
    }
    #right_box {
        display: none;
    }
}

@media (orientation: landscape) {
    input[type='number'], select, p, .text_box{
        font-size: calc(8px + 1.5vh);
    }
}

/* darkmode */
@media (prefers-color-scheme: dark) {
    #left_box, #right_box {
        background-color: var(--darkmode_background);
    }
    html {
        background-color: var(--darkmode_background);
    }
}

/* desktop */
@media (pointer: fine) {
    .button:hover {
        color: var(--cyan);
        background-color: white;
    }
    .button:active {
        color: var(--cyan);
        background-color: var(--light_grey);
        border: var(--light_grey);
    }
    .menu_button_active:hover {
        background-color: var(--cyan_dark);
        cursor: pointer;
    }
    .menu_button_active:active {
        box-shadow: inset 1px 1px 3px rgba(0,0,0,0.6);
    }
    #email_form_submit:active {
        box-shadow: inset 1px 1px 3px rgba(0,0,0,0.6);
    }
}

